@CHARSET "US-ASCII";

@font-face {
	font-family: 'AmericanTypewriterLightA';
	src: url('/fonts/americantypewriter_lighta.eot');
	src: local('American Typewriter Light A'), local('Typewriter Light A'),
		url('/fonts/americantypewriter_lighta.ttf') format('truetype');
}

@font-face {
	font-family: 'AmericanTypewriterLight';
	src: url('/fonts/americantypewriter_light.eot');
	src: local('American Typewriter Light'), local('Typewriter Light'),
		url('/fonts/americantypewriter_light.ttf') format('truetype');
}

@font-face {
	font-family: 'AmericanTypewriter';
	src: url('/fonts/americantypewriter.eot');
	src: local('American Typewriter'), local('Typewriter'),
		url('/fonts/americantypewriter.ttf') format('truetype');
}

body,div,img {
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4,h5,h6,a,p {
	color: black;
	font-family: 'AmericanTypewriter';
}

li {
	list-style: none;
}

#main {
	width: 905px;
	margin-left: auto;
	margin-right: auto;
}

.navbar-brand {
	font-family: 'AmericanTypewriterLightA', Arial, sans-serif;
	font-size: 36px;
	margin-top: 1.6em;
}

.navbar-nav {
	font-family: 'AmericanTypewriter', Arial, sans-serif;
	margin-top: 8.5em;
	margin-left: auto;
	margin-right: auto;
}

#line-menu {
	margin-top: 25px;
	width: 915px;
}

#menu>div.container {
	width: 909px;
	visibility: visible;
	position: relative;
}

#header,#image-container,#image,#menu {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 905px;
}

#image-container {
	margin-top: 35px;
}

[class^=favicon],[class*=fav],[class^=fav]:hover,[class*=fav]:hover {
	background-image: url("../img/favicons.gif");
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	margin-right: 5px;
	line-height: 14px;
	vertical-align: text-top;
	background-position: 14px 14px;
	background-repeat: no-repeat;
	display: inline-block;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a {
	color: black;
}

.navbar-default,.navbar-brand {
	background-image: url('');
	box-shadow: none;
	-webkit-box-shadow: none;
	color: black;
	background-color: #ffffff;
	border: none;
}

li.dropdown.open>a:focus.dropdown-toggle,.nav>li>a:hover,.nav>li>a:focus,.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus
	{
	background-color: #fff;
	color: #000;
}

ul.nav.navbar-nav {
	margin-left: 41px;
}

ul.nav.navbar-nav li {
	height: 50px;
}

ul.nav.navbar-nav li li {
	height: initial;
}

ul.nav.navbar-nav ul {
	margin-left: 14px;
}

ul.nav.navbar-nav li,.dropdown .open,.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	background-color: white;
	color: black;
}

#vertical-line {
	width: 4px;
	height: 135px;
	background-color: black;
	float: left;
	clear: none;
}

.navbar.navbar-default.navbar-fixed-top {
	width: 900px;
}

.hr-line {
	width: 91px;
	height: 1px;
	background-color: black;
}

a:hover>div.hr-line,.navbar-nav>.active>a>div.hr-line,li.dropdown.open {
	height: 3px;
}

a>div.hr-line>p {
	padding-left: -10px;
	padding-top: 10px;
}

a:hover.dropdown-toggle,a:focus.dropdown-toggle {
	background-color: white;
}

div.navbar-collapse.collapse {
	width: 915px;
}

footer {
	margin-left: auto;
	margin-right: auto;
	float: right;
}

div.container {
	width: 905px;
	margin-left: auto;
	margin-right: auto;
}

div.container>p {
	
}

ul#list-post-blog,ul#list-post-project {
	padding: 0;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

ul#list-post-blog>li,ul#list-post-project>li,.symbol-post-project {
	margin-top: 20px;
	font-size: 18px;
	font-family: 'AmericanTypewriter';
}

.desc-project {
	color: #333;
	margin-left: 25px;
}

.date-post-blog {
	float: right;
}

.desc-project {
	width: 500px;
	font-size: 16px;
	margin-top: 6px;
	margin-left: 10px;
}

.excerpt {
	width: 400px;
	margin-top: 10px;
	margin-left: 3px;
}

.title-post-blog>a,.title-post-project>a,.date-post-blog,.cat-post-project,.excerpt
	{
	color: #333;
}

.title-post-blog>a:hover,.title-post-project>a:hover {
	text-decoration: none;
	color: #2a6496;
}

.post-header>h1 {
	font-family: 'AmericanTypewriterLightA';
	color: #000;
	font-weight: bolder;
}

.navbar-nav.pull-right>li>.dropdown-menu {
	left: 0;
}

.container>h1.section-title {
	margin-top: 50px;
}

.lightBlue {
	color: #2a6496;
}

.main-content {
	width: 600px;
	font-size: 15px;
	margin-top: 0px;
	letter-spacing: 1px;
}

.content {
	margin-top: 30px;
}

hr {
	border-top: 1px solid #B6B4B4;
}

.link-underline {
	text-decoration: underline;
}

.not-visible{
	visibility: hidden;
}